# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/dictionaries/
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/nebula-netty-learning.iml
.idea/workspace.xml
